body {
    background-color: rgb(129, 187, 246);;

}
hr {
    background-color: rgb(129, 187, 246);
    border-style: dotted none none;
    border-color: rgb(255, 249, 249);
    border-width: 5px;
    width: 5%;
}
img {
    height: 330px;
}
h1 {
    color: aqua;
}
h3 {
    color:aqua;
}